*{
    margin: 0;
    padding: 0;
}

.header-principal{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.titulo-maestro{
    font-family: 'Lobster', cursive;
    font-size: 52px;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

.nav-principal{
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.ul-listas{
    list-style-type: none;
}

.listas{
    width:fit-content;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
}

a, .icon{
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.listas:hover{
    background-color: black;
}

li:hover a{
    color: whitesmoke;
}

.principal-body{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.secondary-body{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.terciary-body{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.subs-principal{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0.5em;
    padding: 0.5em;
}

.div-sp{
    display: table-cell;
}

.paraf-sp{
    font-family: 'Tajawal', sans-serif;
}

.img-pp{
    width: 15%;
    margin-right: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px;
    float: left;
    
}

.div-img{
    
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.img-po{
    width: 250px;
    height: 250px;
    
    margin-right: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px;
}

.sector{
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    list-style-type: none;
}

.icon{
    border: 0px;
    border: 2px solid black;
}

.containerElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
}

.containerElement-reclamo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

input{
    padding: 20px;
    margin: 10px;
}

textarea{
    padding: 20px;
    margin: 20px;
}

.color{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
}
    