*{
    margin: 0;
    padding: 0;
}

.header-principal{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.titulo-maestro{
    font-family: 'Lobster', cursive;
    font-size: 52px;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

.nav-principal{
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.ul-listas{
    list-style-type: none;
}

.listas{
    width:fit-content;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
}

a{
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li:hover{
    background-color: black;
}

li:hover a{
    color: whitesmoke;
}

.principal-body{
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
    display:flexbox;
    margin: 1em;
    padding: 1em;
    border: 5px solid;
}

.subs-principal{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0.5em;
    padding: 0.5em;
}

.div-sp{
    display: table-cell;
}

.img-pp{
    width: 15%;
    margin-right: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px;
    float: left;
    /* align-items: end; */
}


    